
.header {
  padding: 60px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
}

body {
  background-color: rgb(12, 12, 12);
  margin:0;
  padding:0;
  background-size: cover;
  background-size: 100%;
  background-attachment: fixed;
  
}

.section{
  text-align: center;
  font-size: 3rem;
  color: white;
}
.albums{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  columns:4 auto;
  margin-top: 25px;
  position: absolute;
  left: 110px;
}

.track-art {
  
  height: 100px;
  width: 100px;
  background-size: cover;
  position: absolute;
  left: 0px;
}

.now-playing {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  text-align: center;
  
}

.track-name {
  font-size: 1rem;
  color: white;
  
}

.track-artist {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  position: absolute;
  left:400px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin: 0 auto;
}

.playpause-track, .prev-track, .next-track {
  padding: 15px;
  opacity: .8;
  transition: opacity .2s;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover {
  opacity: 1.0;
}
.slider_container {
  align-items: center;
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
}
.volume_container {
  align-items: center;
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0px;
}
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3px;
  border-radius: 5px;  
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 100%;
}

.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time, .total-duration {
  padding: 10px;
  color: white;
}

i.fa-volume-down, i.fa-volume-up {
  padding: 10px;
  color: white;
}

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
  cursor: pointer;
}

#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: rgb(0, 0, 0);
 
}



